﻿
<!--Analysis section-->
<div class="row mb-xl-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4><i class="fas fa-chart-line"></i>  Spending Analysis</h4>
                <br />
                <div class="row">
                    <div class="col-sm-4">
                        <canvas id="pieChart" width="600" height="600"></canvas>
                    </div>
                    <div class="col-sm-8">
                        <canvas id="areaChart"></canvas>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
<!--End section-->
