﻿@model WebBudgetApp.Models.MonthlyExpenses.MonthlyExpense

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4><i class="far fa-calendar-alt"></i>  Monthly Budget</h4>
                <br />
                <!--Displays budget panel-->
                <form id="balancesOptions">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <!--Displays opening balance-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Opening Balance</span>
                                </div>
                                <input type="number" class="form-control" placeholder="£" name="Opening Balance" id="openingBalance" aria-label="Opening Balance" aria-describedby="Opening Balance">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <!--Displays closing balance-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Closing Balance</span>
                                </div>
                                <input type="text" class="form-control" placeholder="£" name="Closing Balance" id="closingBalance" aria-label="Closing Balance" aria-describedby="Closing Balance">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <!--Displays closing balance-->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Total Expenditure</span>
                                </div>
                                <input type="text" class="form-control" placeholder="£" name="Total Expenditure" id="totalExpenditure" aria-label="Total Expenditure" aria-describedby="Total Expenditure">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                            <!--Displays month selection-->
                            <button class="btn btn-outline-primary" type="button" id="updateBalance">Update Balance</button>
                        </div>

                        <div class="col-sm-2">
                            <!--Displays Add Input for expenses-->
                            <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary" id="getAdd">Add Expense</button>
                        </div>
                    </div>

                </form>
                <br/>
                <!--Displays multiple tab panel and contents-->
                <form id="monthlyBreakdownData">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="income-tab" data-toggle="tab" href="#income" role="tab" aria-controls="contact" aria-selected="false">Income</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="month1-tab" data-toggle="tab" href="#expense" role="tab" aria-controls="home" aria-selected="true">Expenses</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent" style="background-color: lightslategray">

                        <div class="tab-pane fade show active" id="income" role="tabpanel" aria-labelledby="income">

                            <div class="container">
                                <div class="row" style="margin:0 auto;">
                                    <div class="col-auto">
                                        <div class="card" style="width: 23rem; margin-top: 20px; margin-bottom: 25px">
                                            <div class="card-body">
                                                <h5 class="card-title" id="checkIncomePersonal">Work</h5>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="salary" style="width: 210px">Salary</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Salary" aria-label="Salary" aria-describedby="Salary">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="salary" style="width: 210px">Bonus</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Bonus" aria-label="Bonus" aria-describedby="Bonus">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="salary" style="width: 210px">Overtime</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Overtime" aria-label="Overtime" aria-describedby="Overtime">
                                                </div>

                                                <div id="Home">

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <div class="card" style="width: 23rem; margin-top: 20px; margin-bottom: 25px">
                                            <div class="card-body">
                                                <h5 class="card-title" id="checkIncomeOther">Other</h5>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="other" style="width: 210px">Benefits</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Benefits" aria-label="Benefits" aria-describedby="Benefits">
                                                </div>

                                                <div id="Home">

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="expense" role="tabpanel" aria-labelledby="Expense">

                            <div class="container">
                                <div class="row" style="margin:0 auto;">
                                    <div class="col-auto">
                                        <div class="card" style="width: 23rem; margin-top: 20px; margin-bottom: 25px">
                                            <div class="card-body">
                                                <h5 class="card-title" id="checkHome">Home</h5>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="mortgage" style="width: 210px">House</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Mortgage" aria-label="Mortgage" aria-describedby="Mortgage">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="councilTax" style="width: 210px">Council Tax</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Council Tax" aria-label="CouncilTax" aria-describedby="CouncilTax">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="utilities" style="width: 210px">Utilities</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Utilities" aria-label="Utilities" aria-describedby="Utilities">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="water" style="width: 210px">Water</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Water" aria-label="Water" aria-describedby="Water">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="internet" style="width: 210px">Internet</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Internet" aria-label="Internet" aria-describedby="Internet">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="tvLicense" style="width: 210px">Tv License</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="TV License" aria-label="Tv License" aria-describedby="Tv License">
                                                </div>
                                                <div id="Home">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="card" style="width: 23rem; margin-top: 20px; margin-bottom: 25px">
                                            <div class="card-body">
                                                <h5 class="card-title" id="checkPersonal">Personal</h5>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="food" style="width: 210px">Food</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Food" aria-label="Food" aria-describedby="Food">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="car" style="width: 210px">Car</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Car Payments" aria-label="Car" aria-describedby="Car">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="mobilePhone" style="width: 210px">Mobile Phone</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Mobile Phone" aria-label="Mobile Phone" aria-describedby="Mobile Phone">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="tvSubscription" style="width: 210px">TV Subscription</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="TV Subscription" aria-label="Tv Subscription" aria-describedby="Tv Subscription">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="lifeInsurance" style="width: 210px">Life Insurance</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Life Insurance" aria-label="Life Insurance" aria-describedby="Life Insurance">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="buildingsInsurance" style="width: 210px">Buildings Insurance</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Buildings Insurance" aria-label="Buildings Insurance" aria-describedby="Buildings Insurance">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="breakdownCover" style="width: 210px">Breakdown Cover</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Breakdown Cover" aria-label="Breakdown Cover" aria-describedby="Breakdown Cover">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="gym" style="width: 210px">Gym</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Gym Membership" aria-label="Gym" aria-describedby="Gym">
                                                </div>
                                                <div id="Personal">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="card" style="width: 23rem; margin-top: 20px; margin-bottom: 25px">
                                            <div class="card-body">
                                                <h5 class="card-title" id="checkOther">Other</h5>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="creditCards" style="width: 210px">Credit Cards</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Credit Cards" aria-label="Credit Cards" aria-describedby="Credit Cards">
                                                </div>

                                                <div class="input-group input-group-sm mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="savings" style="width: 210px">Savings</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="£ " name="Savings" aria-label="Savings" aria-describedby="Savings">
                                                </div>
                                                <div id="Other">

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--Modal popup-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Additional Field(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:100px">Section</label>
                                </div>
                                <select class="custom-select" id="selectSection">
                                    <option selected></option>
                                    <option id="getHome">Home</option>
                                    <option id="getPersonal">Personal</option>
                                    <option id="getOther">Other</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:100px">Description</label>
                                </div>
                                <select class="custom-select" id="getPresetDescription">
                                    <option selected></option>
                                </select>
                            </div>
                            <div class='input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text' style="width:100px">Description</span>
                                </div>
                                <input id='getTextDescription' type='text' class='form-control'>
                            </div>
                            <div class='input-group mb-3'>
                                <div class='input-group-prepend'>
                                    <span class='input-group-text' style="width:100px">Amount</span>
                                </div>
                                <input id='getAmount' type='number' class='form-control' placeholder='£'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <label id="limitReached" class="mr-xl-auto" style="color: red"></label>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" id="getSave">Save</button>
            </div>
        </div>
    </div>
</div>