﻿@{
    //ViewBag.Title = "Slice - Home Page";
}

@{
    string cookieToken, formToken;
    AntiForgery.GetTokens(null, out cookieToken, out formToken);
    var csrf = cookieToken + ":" + formToken;
}

<input type="hidden" id="token" value=@csrf>

<!--Calculation section-->
<div class="row mb-xl-5">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h4><i class="fas fa-calculator"></i>  Salary Calculator</h4>
                <br />
                <form id="calculateForm" onsubmit="return false">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" id="salaryAmount" placeholder="Salary amount £" aria-label="Salary Amount" aria-describedby="salary Amount" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" id="hoursWorked" placeholder="Weekly hours worked" aria-label="Hours Worked" aria-describedby="Hours Worked" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Tax code" aria-label="Tax Code" id="taxCode" aria-describedby="Tax Code">
                        </div>
                    </div>
                    <div class="form-group row collapse" id="studentLoan">
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" placeholder="Student loan £" aria-label="Student Loan" id="studentValidation" aria-describedby="Student Loan">
                        </div>
                    </div>
                    <div class="form-group row collapse" id="pensionPayment">
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" placeholder="Pension Payment £" aria-label="Pension Payment" id="pensionValidation" aria-describedby="Pension Payment">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#studentLoan" id="student">
                                <label class="custom-control-label" for="student">Student Loan</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#pensionPayment" id="pension">
                                <label class="custom-control-label" for="pension">Pension Payments</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary" id="calculateAmount">Calculate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h4><i class="fas fa-coins"></i>  Salary Breakdown</h4>
                <br />
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr class="">
                                <th scope="col">Tax Code 1250L</th>
                                <th scope="col">Yearly</th>
                                <th scope="col">Monthly</th>
                                <th scope="col">Weekly</th>
                                <th scope="col">Hourly Rate</th>
                            </tr>
                        </thead>
                        <tbody id="taxTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End section-->
