﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Money Management</title>
    @Styles.Render("~/Content/css")
</head>
<body style="padding-top: unset;padding-bottom: unset">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">

            <i class="fas fa-pizza-slice fa-3x" style="color:white;margin-right:20px"></i>

            <a class="navbar-brand" href="#" style="font-family:'Kozuka Gothic Pr6N'; font-size: 60px">Slice</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook fa-2x" style="color: white"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram fa-2x" style="color: white"></i>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitter.com" target="_blank">
                        <i class="fab fa-twitter fa-2x" style="color: white"></i>
                    </a>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


    <div class="container-fluid body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div class="container-fluid body-content">
        <div class="container">
            @RenderPage("~/Views/Home/Budget.cshtml")
        </div>
    </div>

    <div class="container-fluid body-content">
        <div class="container">
            @RenderPage("~/Views/Home/Analysis.cshtml")
            <hr />
            <footer>
                <p>&copy; 2018 - @DateTime.Now.Year Slice v @{ @ViewBag.Version }</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
</html>
