﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(to top,#30cfd0 0,#330867 100%);
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Adds additional margin to the navbar */
.navbar {
    margin-bottom: 50px;
}

/* Tab color */
.nav-tabs > li > a {
    background-color: white;
    border-color: gray;
    color: lightslategray;
}

/* Active tab color */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white;
    background-color: lightslategray;
    border: 1px solid gray;
}

/* Hover tab color */
.nav-tabs > li > a:hover {
    color: white;
    border-color: gray;
    background-color: lightslategray;
}

/* Extends column container width */
.container {
    max-width: 1350px;
}

/* Changes card styling */
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
    border-radius: .25rem;
}

/*.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}*/